.flautas {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100vh;
    background-color: #414260;
}

.flautas .code-example {
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 48%;
}

.flautas .code-example .annotations, 
.flautas .code-example .declarations, 
.flautas .code-example .methods, 
.flautas .code-example .class {
    border-bottom: 1px solid black;
}

.flautas .code-example .methods, .method {
    background-color: white;
}

.flautas .code-example .a {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.flautas .code-example .dragged-area {
    background-color: #414260;
    padding: 3%;
    display: grid;
}

.flautas .code-example .draggable {
    background-color: white;
}

.flautas .code-example .draggable .annotation {
    background-color: blueviolet;
    color: white;
}

.flautas .code-example .draggable .static {
    border: unset !important;
    background-color: unset;
    color: black !important;
}

.flautas .code-desc-container {
    display: grid;
    grid-template-rows: 25% 65% 10%;
    margin-right: 1%;
    padding-bottom: 1%;
}

.flautas .code-snippet-examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-column-gap: 1%;
    padding: 1%;
}

.flautas .code-snippet-examples .correct {
    background-color: white;
}

.flautas .code-snippet-examples .violation {
    background-color: white;
}

.flautas .code-description {
	display: flex;
	align-items: center;
}

.flautas .code-description-text {
    font-family: sans-serif;
    border: 1px dashed #aaa;
    padding: 5px;
    font-size: 20px;
	background-color: white;
	word-wrap: break-word;
	word-break: break-all;
}

.flautas .hl-red {
	color: red;
}

.flautas .hl-blue-bg {
	background-color: #9A614B;
	color: white;
}

.flautas .hl-italic {
    font-style: italic !important;
    color: blue;
    font-weight: bold;
}

.flautas .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flautas .controls .buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.flautas .btn {
    background-color: #F6F6F5;
    border-style: dashed;
    padding: 1% 2%;
    width: 160px;
    height: 45px;
}

.flautas .btn:hover {
    border-style: solid;
}

.flautas .btn:active {
    border-style: dotted;
}

.flautas .btn-round {
    min-width: 80px;
    max-width: 20px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: unset;
    border-radius: 100%;
    overflow: none;
    text-align: center;
    padding: 0;
    background-color: white;
}

.flautas .btn-round:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}

.flautas .btn-round > span {
    display: inline-flex;
    vertical-align: middle;
    max-width: 90%;
    font-size: 70px;
}

.flautas .btn-round:hover {
    border: 1px solid black;
}

.flautas .btn-round:active {
    background-color: black;
    color: white;
}

.flautas .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
}

.flautas .left-btn-div, .flautas .right-btn-div {
    display: flex;
    align-items: center;
}

.flautas .a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flautas .a button {
    background-color: white;
    color: #9A614B;
}

.flautas .extends-implements {
    background-color: darkcyan !important;
}

.flautas .extends-implements p{
    color: white !important;
}

.flautas .code-snippet-sidebar {
    padding: 1%;
    background-color: #414260;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flautas .code-snippet-textbar {
    width: 95%;
    resize: none;
    font-size: 14px;
	background-color: white;
}