@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

.code-editor-text {
    color: black;
    font-family: 'IBM Plex Mono', Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 18px;
    font-feature-settings: "liga" 0, "calt" 0;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    white-space: pre-wrap;
}

$antecedentColor: orange;
$consequentColor: green;

.label-div {
    font-family: 'IBM Plex Mono', Consolas, "Courier New", monospace;
    display: flex;
    text-align: center;

    .label-antecedent {
        flex: 1;
        color: black;
        background-color: $antecedentColor;
    }

    .label-consequent {
        flex: 1;
        color: white;
        background-color: $consequentColor; 
    }
}