.code-editor-text {
    color: black;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 20px;
    font-feature-settings: "liga" 0, "calt" 0;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
}