[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
antlr4-python3-runtime = "*"

[dev-packages]

[requires]
python_version = "3.7"
